/* App.css */
body {
  display: block;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0px;
  padding: 0px;
  width: 100%;
  padding-top: 2.42rem; /* Añade un espacio para la barra fija */
}

.contactdata {
  display: flex; /* Habilita el modo flexbox */
  justify-content: center; /* Centra los elementos a lo largo del eje principal */
  background-color: #5C832F;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

a {
  text-decoration: none;
  color:#f4f4f4;
}

span {
  padding: 1rem;
  text-decoration: none;
}

.navbar {
  position: sticky;
  top: 0; /* Asegura que la barra se pegue en la parte superior */
  z-index: 1000; /* Lo mantiene por encima de otros elementos */
  width: 100%;
  margin: 0;
  padding: 0;
  border-style: double;
  border-width: 1px;
  border-color: #5C832F;

}

.navbar-content {
  font-size: x-large;
  width: 66.67%; /* 2/3 del ancho */
  margin: auto; /* Centra el contenido */
  display: flex; /* Habilita el modo flexbox para alinear elementos */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

@media (max-width: 768px){
  .navbar-content{
    width:100%;
  }
}

header, footer {
  text-align: center;
  margin-bottom: 20px;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services li::before {
  content: '🌲 ';
}

/*Contacto*/
form {
  width: 40%;
  margin:auto
}

@media (max-width:700px){
  form {
    width: 80%;
  }

}

form input, form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background: green;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


/* Estilos del Hero */
.hero {
  position: relative;
  height: 100vh;
  background-image: url('hero.jpeg'); /* Reemplaza con tu imagen */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: center;
  overflow: hidden;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.178);
  border-radius: 1rem 0;
  max-width: 800px;
  padding: 20px;
  margin: 5px;
}

.hero-content h1 {
  font-size: 5rem;
}

.hero-content p {
  font-size: x-large;
}

/* Animaciones */
@keyframes slideFromRight {
  from { transform: translateX(100%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

@keyframes slideFromLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

.slide-right {
  animation: slideFromRight 1s ease-out forwards;
}

.slide-left {
  animation: slideFromLeft 1s ease-out forwards;
  animation-delay: 0.5s;
}

/*About*/
@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.about-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.retrato-container {
  /* Establece la base de flexibilidad al 33.33% para el primer tercio */
  flex-basis: 40%;
  /* Asegura que el contenido esté centrado dentro de este tercio */
  display: flex;
  justify-content: center;
  /* Aplica la animación aquí */
  animation: slide-in 1s ease-in-out forwards;
}

.cualidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  /* La siguiente línea es clave para que las tarjetas ocupen el espacio restante */
  flex: 1;
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .cualidades {
    flex-direction: column;
  }
}

.cardbox {
  border-style: none;
  background: none;
}

.cualidadesicon {
  width: auto;
  height: 5rem;
  margin: 2rem;
}



