@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@400;700&display=swap');

/* Aplicaci칩n de las fuentes */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
    font-weight: 700;
}

/* Ejemplo de uso espec칤fico */
.logo-alt {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
}

.service-title-alt {
    font-family: 'Lora', serif;
    font-size: 1.8rem;
    color: #4A442D; /* Un tono tierra que complementa el estilo */
}

p {
    font-size: 1rem;
    color: #333;
}



/* App.css */

body,
html {
  display: block;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0px;
  padding: 0px;
  width: 100%;
  padding-top: 1.27rem;
  /* A침ade un espacio para la barra fija */
}

.contactdata {
  display: flex;
  justify-content: center;
  background-color: #5C832F;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;

}

.links-contact {
  margin: 0 3rem;
}

@media (max-width: 768px) {
  .links-contact {
    margin: auto;
  }
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

span {
  padding: 0 1rem;
  text-decoration: none;
}

/*NavBar*/

.navbar {
  position: sticky;
  top: 2.53rem;
  /* Asegura que la barra se pegue en la parte superior */
  z-index: 1000;
  /* Lo mantiene por encima de otros elementos */
  width: 100%;
  margin: 0;
  padding: 0;
  border-style: double;
  border-width: 1px;
  border-color: #5C832F;

}

.navbar-content {
  font-size: large;
  width: 66.67%;
  /* 2/3 del ancho */
  margin: auto;
  /* Centra el contenido */
  display: flex;
  /* Habilita el modo flexbox para alinear elementos */
  justify-content: space-between;
  /* Distribuye el espacio entre los elementos */
  align-items: center;
  /* Centra verticalmente los elementos */
}

@media (max-width: 768px) {
  .navbar-content {
    width: 100%;
  }
}

.nav-link{
  margin: 0 0.5rem;
  align-content: center;
}

.nav-link:hover{
  font-style: italic;
  color:#244d30
}

.items:active {
  background-color: #ccc;
}

header {
  text-align: center;
  margin-bottom: 20px;
}



footer {
  overflow: visible;
  bottom: 0;
  text-align: center;
  background-color: #5C832F;
}


.services ul {
  list-style: none;
  padding: 0;
}

.services li::before {
  content: '游 ';
}

/*Contacto*/
form {
  width: 40%;
  margin: 2rem auto
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  background-color: #f4f4f4;
}

button {
  background: green;
  border-radius: 0.5rem;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

@media (max-width:700px) {
  form {
    width: 80%;
    height: 67vh;

  }

  form input,
  form textarea {
    margin: 0.5rem auto;
  }

}


/* Estilos del Hero */
.hero {
  background-image: url('hero.jpeg');
  /* Reemplaza con tu imagen */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: center;
  overflow: hidden;
}



.hero-content {
  background-color: rgba(0, 0, 0, 0.178);
  border-radius: 1rem 0;
  max-width: 800px;
  padding: 20px;
  margin: 5px;
}

.hero-content h1 {
  font-size: 5rem;
}

.hero-content p {
  font-size: x-large;
}

/* Animaciones */
@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-right {
  animation: slideFromRight 1s ease-out forwards;
}

.slide-left {
  animation: slideFromLeft 1s ease-out forwards;
  animation-delay: 0.5s;
  color: #fff;
}

/*About*/
@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.about-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.retrato-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  /* Establece la base de flexibilidad al 33.33% para el primer tercio */
  flex-basis: 40%;
  /* Asegura que el contenido est칠 centrado dentro de este tercio */
  display: flex;
  justify-content: center;
  width: auto;
  height: 82vh;
  /* Aplica la animaci칩n aqu칤 */
  animation: slide-in 1s ease-in-out forwards;
}

.cualidades {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* La siguiente l칤nea es clave para que las tarjetas ocupen el espacio restante */
  flex: 1;
}

/* Media query para pantallas peque침as (m칩viles) */
@media (max-width: 768px) {
  .about-container {
    display: flex;
    flex-direction: column;
  }

  .cualidades {
    flex-direction: column;
  }
}

.cardbox {
  border-style: none;
  background: none;
}

.cualidadesicon {
  width: auto;
  height: 4rem;
  margin: 2rem;
}

.title {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;

}

.title h2 {
  margin: 2rem auto 2rem;
  text-align: center;
}

.title hr {
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}

.text {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  margin: 0 auto 0;
}

.photo {
  display: block;
  width: 100%;
  height: 60vh;
  object-fit: contain;
  margin: 0 auto 100px;
}

/*Services*/



/*Galery*/

.galery-container {
  height: 88vh;
  padding: 0;
  margin-top: 1rem;
}

.carousel-control-next-icon {
  background-color: red;
  padding: 1.5rem;
  border-radius: 50%;
}

.carousel-control-prev-icon {
  background-color: red;
  padding: 1.5rem;
  border-radius: 50%;
}

@media (min-width:768px) {
  .hero {
    height: 88vh;
  }

  .about-container {
    height: 88vh;
  }

  .services-container {
    height: 88vh
  }

  .galery-container {
    height: 86vh;
    padding: 0 10rem 5rem 10rem;
    margin-top: 1rem;
  }

  .retrato-container {
    position: relative;
    left: 8rem;
  }

  .contact-container {
    height: 86vh;

  }


}